.footer{
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__paginas,&__pgA, &__enlaces--p{
    margin-right: 10px;
  }
  &__enlaces{
    &--p{
      text-decoration: none;
      color: $color-font;
      background: #efefef;
      padding: 5px 10px;
      border: 1px solid lightgray;
    }
  }
}
