.header{
  font-family: 'Lato', sans-serif;
  background-color: $primary;
  padding: 7px 15px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__logo img{
    width: 82px;
    height: 26px;
  }
  &__menu{
    &__ul{
      display: inline-block;
      margin-right: 10px;
      &--item{
        list-style: none;
        display: inline-block;
        & a{
          color: white;
          padding: 13px;
          text-decoration: none;
          &:hover{
            border-top: 10px solid $b-top;
          }
        }
      }
    }
    &__button{
      text-decoration: none;
      color: white;
      padding: 7px 13px 11px 13px;
      display: inline-block;
      background-color: $button;
      border-radius: 3px;
      box-shadow: inset 0 -0.2em rgba(0,0,0,.3);
    }
  }
}
